<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/topnav.css">
     <link rel="stylesheet" href="/css/table.css">
 
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
        
        tr:hover {background-color:#ccc;}
        </style>
</head>
<body>
  <!-- <%= JSON.stringify(listusers) %> -->
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create User</a>
      </div>
   <div class="table-container">
    <div class="title">List users</div>  
<table>
    <tr>
      <th>ID</th>
      <th>EMAIL</th>
      <th>NAME</th>
      <TH>CITY</TH>
      <th>ACTIONS</th>
    </tr>
    <!-- <% for(let i= 0;i< listusers.length; i++) {%> 
      <tr>
        <td><%= listusers[i].id %></td>
        <td><%= listusers[i].email %></td>
        <td><%= listusers[i].name %></td>
        <td><%= listusers[i].city %></td>
        <td><button>EDIT</button> <BUtton>DELETE</BUtton></td>
      </tr>
      
      <%}%> -->

      <% listusers.forEach(function(users) { %>
        <tr>
          <td><%= users.id %></td>
          <td><%= users.email %></td>
          <td><%= users.name %></td>
          <td><%= users.city %></td>
          <td>
            <a href="/update/<%= users.id %>">
              <button>EDIT</button>
            </a>
            <a href="/delete/<%= users.id %>">
             <BUtton>DELETE</BUtton></td>
            </a>
        </tr>
        <% }); %>
    
  </table>
  </div>
    
</body>
</html>